<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="card" align="center">
    <div class="card-body register-card-body">
      <p class="login-box-msg" align="center">Register a new account</p>

      <form action="#" th:action="@{/register}" th:object="${userData}" method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
          <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control"  th:field="*{login}" placeholder="Login" th:errorclass="is-invalid">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control"  th:field="*{email}" placeholder="Email" th:errorclass="is-invalid">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" th:field="*{password}" placeholder="Password" th:errorclass="is-invalid">

          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Retype password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
    </div>
    <div class="col-4" align="center">
      <button type="submit" class="btn btn-primary btn-block">Register</button>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
</body>
</html>